@media screen and (min-width: 768px) {
  .container {
    display: flex;
    text-align: start !important;
    padding-left: 150px !important;
    z-index: 50;
    position: relative;
  }
  .text {
    text-align: start !important;
    width: 360px;
  }
  .logo {
    width: 119px !important;
    height: 72px !important;
    transform: translateX(-14px);
    margin-top: 0px !important;
  }
  .divider {
    display: none;
  }
  .iconNTextContainer {
    padding-right: 62px;
  }
  .links-container {
    align-items: flex-start;
    padding: 0px 62px !important;
    border-left: 1px solid #c2d1d9;
  }
  .links-container > a {
    text-transform: none !important;
    margin-top: 8px !important;
    color: rgba(80, 93, 104, 0.5) !important;
  }
  .linksHeader {
    display: block !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    /* identical to box height */
    text-transform: uppercase;

    color: #505d68;
  }

  .contactContainer {
    display: flex !important;
    flex-direction: column;
    

    align-items: flex-start;
    padding: 0 62px !important;
    border-left: 1px solid #c2d1d9;
  }

  .contactContainer > span {
    text-transform: none !important;
    margin-top: 8px !important;
    color: rgba(80, 93, 104, 0.5) !important;

    margin-top: 48px;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
  }
  /* .iconNTextContainer{
      display: flex;
      flex-direction: column;
      text-al
  } */
}

.linksHeader {
  display: none;
}
.container {
  background-color: #fff;
  text-align: center;
  padding: 15px;
  z-index: 50;
}

.logo {
  margin-top: 24px;
  width: 159px;
  height: 97px;
}

.text {
  margin-top: 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  /* or 150% */
  text-align: center;

  color: #505d68;
}

.divider {
  width: 60%;
  margin-top: 48px;
  height: 1px;
  color: #c2d1d9;
}

.links-container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.links-container > a {
  margin-top: 48px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #505d68;
}

.contactContainer {
  display: none;
}
